<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Serving Web Content Using the MVC Pattern</title>
</head>
<body>
<p th:text="'Hello, ' + ${name} + '!'"></p>
<h1 th:each="msg: ${greetings}" th:text="${msg}" th:unless="${msg.contains('Goodbye')}"></h1>

<form th:object="${newMessage}" th:action="@{/greeting}" action="#" method="POST">
    <input type="text" th:field="*{name}">
    <button type="submit">Submit</button>
</form>
</body>
</html>